# User id to run app container. Set for volume permissions.
# To run app container as local user replace CONTAINER_USER with the result of `id -u`
CONTAINER_USER=1000

# Web public port
LISTEN_WEB=127.0.0.1:8080

# (Optional) Enable XDEBUG
# XDEBUG=1

# Use `cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 16 | head -n 1` to generate root password
MYSQL_ROOT_PASSWORD=